@model List<Blog>
@{ 
    List<BlogComment> blogComments = ViewBag.BlogComments;
    List<Category> categories = ViewBag.Category;
    List<Blog> LatestBlogs = ViewBag.LatestBlogs;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">home</a></li>
                        <li>blog sidebar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<div class="blog_bg_area">
    <div class="container">
        <!--blog area start-->
        <div class="blog_page_section blog_reverse">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="blog_sidebar_widget">
                        <div class="widget_list widget_search">
                            <div class="widget_title">
                                <h3>Search</h3>
                            </div>
                            <form action="#">
                                <input placeholder="Search..." type="text">
                                <button type="submit">search</button>
                            </form>
                        </div>
                        <div class="widget_list comments">
                            <div class="widget_title">
                                <h3>Recent Comments</h3>
                            </div>
                            @foreach (var item in blogComments)
                            {
                                <div class="post_wrapper">
                                    <div class="post_thumb">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">
                                            <img src="~/assets/img/blog/comment2.png.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="post_info">
                                        <span> <a  asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">demo</a> says:</span>
                                        <a  asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">@(item.Text.Length>20? item.Text.Substring(0, 20): item.Text))</a>
                                    </div>
                                </div>
                            }
                           
                        </div>
                        <div class="widget_list widget_post">
                            <div class="widget_title">
                                <h3>Recent Posts</h3>
                            </div>
                            @foreach (var item in LatestBlogs)
                            {
                                <div class="post_wrapper">
                                    <div class="post_thumb">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id"><img src="~/assets/img/blog/@item.Image" alt=""></a>
                                    </div>
                                    <div class="post_info">
                                        <h4><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
                                        <span>@item.CreatedAt.ToString("MMMM dd, yyyy") </span>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="widget_list widget_categories">
                            <div class="widget_title">
                                <h3>Categories</h3>
                            </div>
                            <ul>
                                @foreach (var item in categories)
                                {
                                    <li><a href="#">@item.Name</a></li>
                                }
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="blog_wrapper mb-60">
                        <div class="blog_header">
                            <h1>Blog</h1>
                        </div>
                        <div class="blog_wrapper_inner">
                            @foreach (var item in Model)
                            {
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">
                                                <img src="~/assets/img/blog/@item.Image"
                                                     alt="">
                                            </a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title">
                                                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">
                                                   @item.Title
                                                </a>
                                            </h4>
                                            <div class="blog_meta">
                                                <span class="author">Posted by : <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.AppUser.UserName</a> / </span>
                                                <span class="meta_date">Posted on : <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.CreatedAt.ToString("MMMM dd, yyyy")</a></span>
                                            </div>
                                            <div class="blog_desc">
                                                <p>
                                                    @item.Description.Substring(0,350)
                                                </p>
                                            </div>
                                            <footer class="btn_more">
                                                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id"> Read more</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            }

                        </div>
                    </div>
                    <!--blog pagination area start-->
                    <div class="blog_pagination">
                        <div class="pagination">
                            <ul>
                                <li class="current">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">next</a></li>
                                <li><a href="#">>></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--blog pagination area end-->
                </div>
            </div>
        </div>
        <!--blog area end-->


    </div>
</div>

