
@inject Antomi.Services.LayoutServices layoutServices
@{
    CompareVM compareVM = await layoutServices.CompareNotebookList();
}


<tbody>
    <tr>
        <td class="first-column">Product</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="product-image-title">
                <a href="#" class="image"><img src="~/image/product/@item.ProductColor.ProductColorImages.FirstOrDefault(x=>x.IsMain==true).Image" alt="Compare Product"></a>
                <a href="#" class="category">@item.ProductColor.Product.SubCategory.Name</a>
                <a href="#" class="title">@item.ProductColor.Product.Model</a>
            </td>
        }
    </tr>
    <tr>
        <td class="first-column">Description</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-desc">
                <p>@(item.ProductColor.Product.Description.Length<120 ? item.ProductColor.Product.Description:item.ProductColor.Product.Description.Substring(0,120))</p>
            </td>
        }
      
    </tr>
    <tr>

        <td class="first-column">Price</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-price">$@item.Price</td>
        }
    </tr>
    <tr>
        <td class="first-column">Color</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-color">@item.ProductColor.Name</td>
        }
    </tr>
    <tr>
        <td class="first-column">Stock</td>
        @foreach (var item in compareVM.CompareItems)
        {
            if (item.ProductColor.Count > 0)
            {
                <td class="pro-stock">In Stock</td>
            }
            else
            {
                <td class="pro-stock">Not Stock</td>
            }

        }
    </tr>
    <tr>
        <td class="first-column">RAM</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-stock">@item.ProductColor.Product.NotebookSpecifications.First().RAM</td>

        }
    </tr>
    <tr>
        <td class="first-column">Storage</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-stock">@item.ProductColor.Product.NotebookSpecifications.First().Storage</td>

        }
    </tr>
    <tr>
        <td class="first-column">Graphics</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-stock">@item.ProductColor.Product.NotebookSpecifications.First().Graphics</td>

        }
    </tr>
    <tr>
        <td class="first-column">Processor</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-stock">@item.ProductColor.Product.NotebookSpecifications.First().Processor</td>

        }
    </tr>
    <tr>
        <td class="first-column">Operation System</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-stock">@item.ProductColor.Product.NotebookSpecifications.First().OS</td>

        }
    </tr>
    <tr>
        <td class="first-column">Add to cart</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-addtocart"><a onclick='AddtoBasket(@item.ProductColor.Id)' class="add-to-cart" tabindex="0"><span>ADD TO CART</span></a></td>
        }
    </tr> 
    <tr>
        <td class="first-column">Delete</td>
        @foreach (var item in compareVM.CompareItems)
        {
            <td class="pro-remove"><button onclick='DeleteNotebookCompareItem(@item.ProductColor.Id)'><i class="fa fa-trash-o"></i></button></td>
        }
    </tr>

</tbody>
