@model List<SubCategory>
<div class="body-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <!--Table-->
            <div class="card-body">
                <div class=table-responsive>
                    <!--<table class="table table-sm table-nowrap card-table">-->
                    <label class="font-weight-600">SubCategories</label>
                    <table class="table display table-bordered table-striped table-hover bg-white m-0 card-table">
                        <thead>
                            <tr>

                                <th>SubCategory Name</th>
                                <th>Created Time</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>

                                <td>@item.Name</td>
                                <td>
                                    @item.CreatedAt.ToString("dd.MMMM.yyyy")
                                </td>
                                <td>
                                    @item.Category.Name
                                </td>
                                <td>
                                    <a asp-controller="Home" asp-action="DeleteSubCategory" asp-route-id="@item.Id" class="btn btn-danger-soft btn-sm" onclick="return confirm('Are you sure you want to delete?')"><i class="far fa-trash-alt"></i></a>
                                    <a data-id="@item.Id" class="btn btn-success-soft btn-sm ml-1 btnEdit" data-bs-toggle="modal" data-bs-target="#editModal"><i class="far fa-edit"></i></a>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @*<a href="SliderCreate"> <button type="button" class="btn btn-secondary"> Add New Slider Image</button></a>*@
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Add New SubCategory
                    </button>
                </div>
            </div>

            <!--End Table-->

        </div>
    </div>
</div>


<!--Modal-->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create SubCategory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-area="admin" asp-action="SubCategory" asp-controller="Home" id="SubCategoryCreate">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-600">Choose Category</label>
                            <select name="sId" class="form-select" asp-items="@(new SelectList(ViewBag.Category, "Id", "Name"))" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-600"> SubCategory Name:</label>
                            <input class="form-control" name="Name" required><br />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="SubCategoryCreate" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Modal End-->


<!--Modal Edit-->
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Forrm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSubCategoryForm" method="post">
                    <input type="hidden" id="editId" />
                    <div class="form-group">
                        <label class="font-weight-600">Choose Category</label>
                        <select id="CategoryId" name="CId" class="form-select" asp-items="@(new SelectList(ViewBag.Category, "Id", "Name"))" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="editSubCategoryName">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="editSubCategoryForm" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

@section Script{

    <script src="assets/dist/js/pages/forms-basic.active.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(() => {

            $(document).on('click', '.btnEdit', (e) => {
                const id = $(e.currentTarget).data('id');
             
                $.ajax({
                    url: `/Admin/Home/EditSubCategory/${id}`,
                    type: 'GET',
                    success: (response) => {
                        if (response.hasOwnProperty('status') && response.status === 404) {
                            alert('tapilmadi')
                        } else {
                            console.log(response);
                            $('#editSubCategoryName').val(response.name);
                            $('#editId').val(response.id);
                            $('#CategoryId').val(response.categoryId);
                        }
                        //
                    }
                });
            });
            $('#editSubCategoryForm').submit((e) => {
                e.preventDefault();
                $.ajax({
                    url: `/Admin/Home/EditSubCategory`,
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()  //validateantiforgeredtokene gondermek ucun isdifade olnur
                    },
                    type: 'POST',
                    data: {
                        id: $('#editId').val(),
                        CId: $('#CategoryId').val(),
                        name: $('#editSubCategoryName').val()
                    },
                    success: (response) => {
                        if (response.hasOwnProperty('status')) {
                            if (response.status == 200) {
                                location.href = '/Admin/Home/SubCategory';
                            } else if (response.status == 400) {
                                alert('Not Successfully');
                            }
                        }
                    }

                })
            });
        })
    </script>

}