@model List<Product>

<div class="body-content">
    <div class="container">
        <div class="row justify-content-center">
            <a class="btn btn-success-soft" asp-area="Admin" asp-action="CreateCourse" asp-controller="Course" style="width:800px">Create Cource</a>
        </div>
        <div class="row justify-content-center">

            @foreach (var item in Model)
            {
                <div class="card mr-2 ml-2" style="width: 22rem;">
                    <div class="mt-2">
                        <img src="~/image/product/@item.ProductColors.FirstOrDefault(x=>x.ProductId==item.Id).ProductColorImages.FirstOrDefault(x=>x.IsMain==true).Image" class="card-img-top" alt="Course Image">
                    </div>
                    <div class="card-body center-block mt-2">
                        <div>
                            <h5 class="card-title" data-toggle="tooltip" title="@(item.Model)"> <strong> @(item.Model.Length<30 ? item.Model:item.Model.Substring(30)+"...")</strong> </h5>

                            <h6 data-toggle="tooltip" title="@(item.Description)">@(item.Description.Length<142 ? item.Description:item.Description.Substring(0,142)+"...")</h6>
                        </div>
                        <a asp-area="Admin" asp-controller="Course" asp-action="DeleteCourse" asp-route-id="@item.Id" class="btn btn-danger-soft btn-sm" onclick="return confirm('Are you sure you want to delete?')"><i class="far fa-trash-alt"></i></a>
                        <a asp-area="Admin" asp-controller="Course" asp-action="UpdateCourse" asp-route-id="@item.Id" class="btn btn-success-soft btn-sm ml-1"><i class="far fa-edit"></i></a>
                        <a asp-area="Admin" asp-controller="Course" asp-action="UpdateFeature" asp-route-id="@item.Id" class="btn btn-success-soft btn-sm ml-1"><i class="far fa-edit"></i> Feature</a>
                       
                            <a asp-area="Admin" asp-controller="Comment" asp-action="Index" asp-route-id="@item.Id" class="btn btn-warning btn-sm ml-1"> Comments(@item.Comments.Count(x => x.isActive == false))</a>
                        
                         
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section Script {

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
 
}